* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Exo 2", sans-serif;
}

p {
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
