.footer {
  background-color: #0b7572;
  padding: 28px 45px;
}

.footer__wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

.footer__logo-wrapper {
  width: 60px;
  margin-bottom: 32px;
}

.footer__links-wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__link {
  color: #fff;
  font-family: "Exo 2";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.footer__contact-social {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.footer__contact-phone {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer__contact-action {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;

  background-color: #ff9619;
  padding: 16px;
}

.footer__copyright {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.6px;
  margin-top: 16px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .footer__logo-wrapper {
    width: 95px;
  }

  .footer__wrapper {
    display: flex;
    // gap: 50px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    padding: 80px 95px 30px 95px;
  }

  .footer__logo-wrapper {
    width: 180px;
  }

  .footer__link,
  .footer__contact-phone,
  .footer__contact-action,
  .footer__copyright {
    font-size: 16px;
  }

  .footer__contact-phone {
    margin: 30px 0;
  }
}
