.service {
  padding-bottom: 47px;
}

.service__box-wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 24px 28px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service__box-image {
  width: 68px;
  height: 68px;
  margin-bottom: 16px;
}

.service__box-title {
  color: #363738;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  margin-bottom: 12px;
}

.service__box-description {
  color: #6b6b6c;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .service {
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .service__box-wrapper {
    box-shadow: none;
    padding: 0;
  }

  .service__box {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    padding: 32px 0 40px 32px;

    display: flex;
    align-items: center;
    gap: 32px;
  }

  .service__box-content {
    width: 400px;
  }

  .service__box-image {
    width: 92px;
    height: 92px;
    margin: 0;
  }

  .service__box-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .service {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 67px;
  }

  .service__box-wrapper {
    flex-direction: row;
    gap: 110px;
    padding: 40px 0 56px 80px;

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  }

  .service__box {
    flex-direction: column;
    box-shadow: none;
    align-items: start;
    padding: 0;
    border-radius: 0;
  }

  .service__box:not(:first-child) {
    border-left: 1px solid #d7d7dd;
    padding-left: 64px;
  }

  .service__box-content {
    width: 225px;
  }
}
